/* Squeenote theme */
body {
    font: 13px/1.3 'Rokkitt', arial, sans-serif;
    color: #333;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

h1 {
    font-size: 72px;
    background: #120639;
    border-top: 4px solid #E61610;
    color: #fff;
}

body > ol {
    position: relative;
    max-width: 1860px;
    padding: 0;
    margin: 8% 10%;
    list-style-type: none;
}

body > ol > li {
    position: absolute;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 0;
    list-style: none;

  /* Webkit-specific transformations */
  -webkit-transition-property: border, left, right, opacity, display;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;

  /* Mozilla-specific transformations */
  -moz-transition-property: border, left, right, opacity, display;
  -moz-transition-duration: 0.3s;
  -moz-transition-timing-function: ease-out;
}

body > ol > li.pending {
    top: 0;
    right: -129%;
}

body > ol > li.done {
    top: -0;
    left: -129%;
}

#squeenote_controls {
    background: #C0C0C0;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#squeenote_controls .client_controls,
#squeenote_controls .presenter_controls {
    background: #EBEBEB;
    bottom: 0;
    margin-bottom: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

#squeenote_controls a,
#squeenote_controls label {
    color: #000;
}